body{
    background-color: rgba(0,112,221,255);
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.principal{
    background-color: white;
    width: 50vw;
    padding: 0rem 3rem 3rem 3rem;
    box-shadow: 0 0 100px rgba(0, 0, 0, 0.8);
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 70vh;
}

.inputs div{
    padding-top: 1.5rem;
    font-size: large;
    display: flex;
    flex-direction: column;
    width: 17rem;
    justify-content:space-between;
    margin: 0 0 0 0;
}
select{
    margin-top: 0.5rem;
    height: 1.5rem;
    border-radius: 10px;
    border: 1px solid;
    padding-left: 0.4rem;
}
input{
    margin-top: 0.5rem;
    width: 80%;
    height: 1.3rem;
    border-radius: 10px;
    border: 1px solid;
    padding-left: 0.4rem;
}
.username:hover{
    background-color: rgb(238, 238, 238);
}
.pass:hover{
    background-color: rgb(238, 238, 238);
}
button{
    height: 2rem;
    width: 3rem;
    border-radius: 10px;
    margin-top: 1rem;
    border: transparent;
    color: #fff;
    background-color: #007bff;
    border-color: #007bff;
    width: 10rem;
    
}
button:hover{
    background-color: #248dff;
    transform: scale(1.2);
}
.atras{
    position: fixed;
    top: 0;
    left: 0;
    padding-top: 1rem;
    padding-left: 1.5rem;
}
h1{
    margin-bottom: 0;
}
