<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css"  href="{{ url_for('static', filename='../static/assets/style-signin.css')}}">
    <link rel="shortcut icon" href="sources/logo.ico" type="image/ico">
    <title>Sign In</title>
</head>
    <body>
    <div class="atras">
        <a href="index.html">Atras</a>
    </div>
    <form action = "/validarCuenta" method = "POST">
    <div class="principal">
        <div>
            <img src="/sources/logoEliana.png" alt="" >
        </div>
        <div class="inputs">
            <div>
                <span>Correo: </span>
                <input type="email" class="username">
            </div>
            <div>
                <span>Password: </span>
                <input type="password" class="pass">
            </div>
        </div>
        <div>
            <button>Ingresar</button>
        </div>
        <div class="registro">
            <a href="/irNuevaCuenta">¿Aun no tiene cuenta? ¡Regístrate!</a>
        </div>
    </div>
    </form>
    
    </body>
</html>