<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css"  href="{{ url_for('static', filename='../static/assets/style-succes.css')}}">
    <link rel="shortcut icon" href="sources/logo.ico" type="image/ico">
    <title>Succes</title>
</head>
<body>
    <div class="principal">
        <div>
            <img src="/sources/ico.png" alt="" >
        </div>
        <div>
            <h2>{{mensaje}}</h2>
        </div>
        
        <a href="/verDetalleDeProducto/{{idProductoPedido}}">Volver atras</a>
    </div>
</body>
</html>